/vendor
/node_modules
.env
/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/public/.sass-cache
/public/config.rb
/public/sass
.idea
.git
.gitattributes
/app/config/mail.php
/public/uploads/ecole
/public/uploads/etudiants
/bootstrap/cache


