
/*rouge : rgba(196,20,20,1) // degradé a modifier*/
/* Common button styles */
/* line 12, ../../sass/partials/button.scss */
button.button {
  /*float: left;*/
  min-width: 150px;
  max-width: 250px;
  display: block;
  margin: 1em;
  padding: 1em 2em;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: 600;
  background: none;
  border: none;
  height: 60px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

/* line 40, ../../sass/partials/button.scss */
button.button:focus {
  outline: none;
}

/* line 43, ../../sass/partials/button.scss */
button.button > span {
  vertical-align: middle;
}

/* line 49, ../../sass/partials/button.scss */
button.button::before,
button.button::after {
  content: '';
  z-index: -1;
  border-radius: inherit;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

/* line 65, ../../sass/partials/button.scss */
button.button::before {
  border: 2px solid #61b6ff;
  opacity: 0;
  -webkit-transform: scale3d(1.2, 1.2, 1);
  transform: scale3d(1.2, 1.2, 1);
  border-width: 1px;
  border-color: #61b6ff;
}

/* line 73, ../../sass/partials/button.scss */
button.button::after {
  background: #61b6ff;

}

button.button:hover {
  color: #61b6ff;

}

/* line 81, ../../sass/partials/button.scss */
button.button:hover::before {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

/* line 86, ../../sass/partials/button.scss */
button.button:hover::after {
  opacity: 0;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
}
input[type="submit"] {
    background: none;
    border: none;
}