@font-face {
    font-family : Bariol_Regular;
    src: url('../fonts/Bariol_Regular/Bariol_Regular.otf'),
    url('../fonts/Bariol_Regular/Bariol_Regular.ttf') format("truetype");
}

body {
    font-family: Bariol_Regular, "Ubuntu", sans-serif;
    color: white;
    font-weight : bold;
    font-size: 1.43em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
/*rouge : rgba(196,20,20,1) // degrad� a modifier*/
::-moz-selection {
  color: white;
  background: #61b6ff;/*#bc0000;*/
}

/* line 13, ../sass/design.scss */
::selection {
  color: white;
  background: rgba(97, 182, 255, 0.51); /*#bc0000;*/
}

/* scroll bar */
/* line 16, ../sass/design.scss */
::-webkit-scrollbar {
  width: 15px;
  background-color: #f55855;
}

/* line 21, ../sass/design.scss */
::-webkit-scrollbar-thumb {
  background: #c03a43;
}

/* progress bar */
/* line 26, ../sass/design.scss */
#progressBar {
  position: fixed;
  top: 2.8em;
  left: 0px;
  right: 0px;
  width: 100%;
  z-index: 999;
}

/* line 34, ../sass/design.scss */
#progressBarInside {
  position: fixed;
  height: 8px;
  width: 0%;
  background: #f55855;
  box-shadow: 0px 4px 2px #bc0000;
}

/* main body */
/* line 43, ../sass/design.scss */
#corps {
  margin-top: 50px;
  background: #5a5a5a;
  clear: both;

}

/* line 50, ../sass/design.scss */
#corps_bis {
  height: 100%;
  display: inline-block;
  background-color: black;
  height: auto;
  width: 98%;
  /* Ajouter pour que les news fonctionnent*/
  overflow: auto;
  color: white;
  margin: 0px;
  /*50*/
  padding-bottom: 25px;
  padding: 0px 10px;
  background-color: #474747;
}

#body_content {
    padding: 0px 100px 30px 100px;
}

h1 {
    color: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    font-weight: 400;
    font-size: 2.3em;
}
h2 {
    /*margin: 0;
    padding: 1em;*/
    color: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    font-weight: 300;
    font-size: 2em;
}

/* line 69, ../sass/design.scss */
h3 {
  color: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  font-weight: 400;
  font-size: 1.8em;
}

/* line 75, ../sass/design.scss */
h4 {
  color: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  font-weight: 300;
  font-size: 1.2em;
}

h5 {
    color: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    font-weight: 200;
    font-size: 1.1em;

}

/* line 82, ../sass/design.scss */
strong {
  font-weight: 800;
  color: #61b6ff;
    border:  1px solid #61b6ff;
    padding-left: 2px;
    padding-right: 2px;
  /*text-decoration: underline;*/
}
em {
    color: #61b6ff;
}
pre {
    background-color : #f55855;
    color : #ffffff;
}
/* line 89, ../sass/design.scss */
blockquote {
  font-style: italic;
  font-weight: 900;
  color: #f55855;

}
blockquote::before {
    content: "«\00A0";
    font-size : 1.9em;
}
blockquote::after {
    content: '\00A0»';
    font-size : 1.9em;
}
/* line 99, ../sass/design.scss */
hr {
  border: 0;
  height: 3px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(180, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(180, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(180, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(180, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* table */
table {
    margin-bottom: 20px;
    margin-top: 20px;
    border-collapse:collapse;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

th, td {
     border-right: 1px groove rgba(0,0,0,0.25);
     box-shadow: inset 0 -1px rgba(0,0,0,0.25),
     inset 0 1px rgba(0,0,0,0.25);
}

th {
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    padding: 1em;
    color: rgba(0,0,0,0.45);
    text-shadow: 0 0 1px rgba(0,0,0,0.1);
    font-size: 1.5em;
     background: #f55855;
}

td {
    padding: 0.7em 1em 0.7em 1.15em;
    text-shadow: 0 0 1px rgba(255,255,255,0.1);
}

tr {
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
    background: #c03a43;/*#3f94cd;*/
}

tr:hover {
    background: #f55855;/*#61b6ff;*/
}

/* Footer */
/* line 124, ../sass/design.scss */
footer {
  clear: both;
  text-align: center;
  background-color: #bc0000;
  font-size: 90%;
}

/* line 134, ../sass/design.scss */
#cadre_footer {
  position: relative;
  overflow: hidden;
  padding: 10px 50px;
  /**/
  width: 900px;
  margin: auto;
}

/* menu */
/* line 3, ../sass/partials/menu.scss */
#st-trigger-effects > button {
  z-index: 999;
  background: url(../images/add.png) no-repeat;
  position: fixed;
  left: 0;
  top: 0;
  height: 50px;
  width: 50px;
  border: none;
  cursor: pointer;
}

/* line 15, ../sass/partials/menu.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 19, ../sass/partials/menu.scss */
.clearfix:after {
  clear: both;
}

/* line 22, ../sass/partials/menu.scss */
.clearfix {
  *zoom: 1;
}

/* Responsive menu */
/* line 27, ../sass/partials/menu.scss */
.responsive-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background: #3c3c3c;
  text-align: right;
  border-bottom: 2px solid #61b6ff;
  z-index: 999;
  /* a verfier avec la page index */
  /* margin-bottom: 17px;*/
}

/* line 38, ../sass/partials/menu.scss */
.responsive-menu .trigger,
.responsive-menu h2 {
  display: none;
}

/* line 41, ../sass/partials/menu.scss */
.responsive-menu ul {
  height : 50px;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background: #3c3c3c;
  list-style-type: none;
  text-align: right;
  border-bottom: 2px solid #61b6ff;
}

/* line 52, ../sass/partials/menu.scss */
.responsive-menu ul li {
  display: inline;
}

/* line 55, ../sass/partials/menu.scss */
.responsive-menu ul li a {
	height : 50px;
  font-size: 1.5em;
  display: inline-block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

/* line 62, ../sass/partials/menu.scss */
.responsive-menu ul li a:hover {
  cursor: pointer;
  background-color: #61b6ff;
}

@media only screen and (max-width: 568px) {
  /* line 67, ../sass/partials/menu.scss */
  .responsive-menu {
    text-align: center;
  }

  /* line 70, ../sass/partials/menu.scss */
  .responsive-menu .trigger {
    display: block;
    cursor: pointer;
    color: #61b6ff;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    background: #3c3c3c url("../images/responsive-menu-icon.png") 97% 50% no-repeat;
  }

  /* line 79, ../sass/partials/menu.scss */
  .responsive-menu.open .trigger {
    background-color: #61b6ff;
  }

  /* line 83, ../sass/partials/menu.scss */
  .responsive-menu ul li a,
  .responsive-menu ul li {
    display: block;
  }

  /* line 86, ../sass/partials/menu.scss */
  .responsive-menu ul {
    display: none;
  }
}
/* bandeau */
/* line 2, ../sass/partials/bandeau.scss */
#bandeau_centre {
  height: 95px;
  width: 800px;
  margin: auto;
    background: url("../images/titre.png") no-repeat;
    padding-top: 10px;
  padding-bottom: 10px;
}

/* line 13, ../sass/partials/bandeau.scss */
.bandeau_titre {
  float: left;
}

/* line 18, ../sass/partials/bandeau.scss */
#bandeau h1 {
  margin: 0;
  padding-left: 0.8em;
  padding-top: 0.3em;
  color: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  font-weight: 300;
  font-size: 3em;
}

/* line 29, ../sass/partials/bandeau.scss */
#bandeau {
  height: 85px;
  /* Anciens navigateurs */
  background: #61b6ff url("gradient-bg.png") repeat-y center;
  -o-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  /* Internet Explorer */
  *background: #61b6ff;
  background: #61b6ff;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr=#ffbc0000, endColorstr=#ff06d2ed);
}

@media all and (min-width: 0px) {
  /* line 56, ../sass/partials/bandeau.scss */
  #bandeau {
    /* Opera */
    background: #61b6ff url("gradient-bg.svg");
    /* Navigateurs récents */
    background-image: -webkit-gradient(linear, left top, right top, from(#c41414), to(#61b6ff));
    background-image: -webkit-linear-gradient(left, #c41414, #61b6ff);
    background-image: -moz-linear-gradient(left, #c41414, #61b6ff);
    background-image: -o-linear-gradient(left, #c41414, #61b6ff);
    background-image: linear-gradient(left, #c41414, #61b6ff);
  }
}

/* Media Queries */
@media screen and (max-width: 800px) {
    #bandeau_centre {
        width: auto;
        height: 55px;
    }
    #bandeau {
        height: 55px;
    }
}

/* standard pattern */
.text-center{ text-align : center}
.font-size-2{ font-size : 2em; }
.left { float: left; }

/*admin eventullement en faire un fichier */
.image_miniature { width : 100px; height : 40px;}

::-webkit-input-placeholder:hover{line-height: normal; padding-top:-5px; margin-top: -10px;}