*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


a.link {
	position: relative;
	display: inline-block;
	/*margin: 15px 25px;*/
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	/*font-weight: 400;*/
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 0.9em;
	position: relative;
	z-index: 1;
	overflow: hidden;
	margin: 0 5px;
}

a.link:hover, a.link:focus {
	outline: none;
}

a.link span {
	display: block;
	padding: 0px 5px;
	background: #61b6ff;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

a.link::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
    padding: 0px 5px;/*padding: 10px 20px;*/
	width: 100%;
	height: 100%;
	background: #f55855;
	color: #fff;
	content: attr(data-hover);
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translateX(-25%);
}
a.link:hover span, a.link:focus span {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	transform: translateX(100%);
}

a.link:hover::before, a.link:focus::before {
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	transform: translateX(0%);
}