/*rouge : rgba(196,20,20,1) // degradé a modifier*/
body {
  margin: 0;
  background: #c03a43;
}

/* line 24, ../sass/sidebar_effect.scss */
html,
body,
.st-container,
.st-pusher,
.st-content {
  height: 100%;
}

/* line 28, ../sass/sidebar_effect.scss */
.st-content {
  overflow-y: scroll;
  background: rgb(60,60,60);
  /*rgb(60,60,60);*/
}

/* line 34, ../sass/sidebar_effect.scss */
.st-content,
.st-content-inner {
  position: relative;
}

/* line 38, ../sass/sidebar_effect.scss */
.st-container {
  position: relative;
  overflow: hidden;
}

/* line 43, ../sass/sidebar_effect.scss */
.st-pusher {
  position: relative;
  left: 0;
  z-index: 99;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

/* line 52, ../sass/sidebar_effect.scss */
.st-pusher::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.2);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/* line 65, ../sass/sidebar_effect.scss */
.st-menu-open .st-pusher::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

/* line 73, ../sass/sidebar_effect.scss */
.st-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  visibility: hidden;
  width: 300px;
  height: 100%;
  background: #f55855;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* line 86, ../sass/sidebar_effect.scss */
.st-menu::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  content: '';
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

/* line 99, ../sass/sidebar_effect.scss */
.st-menu-open .st-menu::after {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/* content style */
/* line 109, ../sass/sidebar_effect.scss */
.st-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.st-menu h2 {
  margin: 0;
  padding: 1em;
}

/* line 124, ../sass/sidebar_effect.scss */
.st-menu ul li a, .st-menu ul li span {
  display: block;
  padding: 1em 1em 1em 1.2em;
  outline: none;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
  color: #f3efe0;
  text-transform: uppercase;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
  letter-spacing: 1px;
  font-weight: 400;
  -webkit-transition: background 0.3s, box-shadow 0.3s;
  transition: background 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

/* line 139, ../sass/sidebar_effect.scss */
.st-menu ul li:first-child a, .st-menu ul li:first-child span {
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.2);
}

/* line 142, ../sass/sidebar_effect.scss */
.st-menu ul li span {
  text-decoration: underline;
}

/* line 143, ../sass/sidebar_effect.scss */
.st-menu ul li a:hover, .st-menu ul li span:hover {
  background: #c03a43;/*rgba(0, 0, 0, 0.2);*/
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
  color: #fff;
}

/* Individual effects */
/* Effect 1: Open door */
/* line 153, ../sass/sidebar_effect.scss */
.st-effect-1.st-container {
  -webkit-perspective: 1500px;
  perspective: 1500px;
}

/* line 158, ../sass/sidebar_effect.scss */
.st-effect-1 .st-pusher {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 165, ../sass/sidebar_effect.scss */
.st-effect-1.st-menu-open .st-pusher {
  -webkit-transform: rotateY(-10deg);
  transform: rotateY(-10deg);
}

/* line 170, ../sass/sidebar_effect.scss */
.st-effect-1.st-menu {
  opacity: 1;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* line 176, ../sass/sidebar_effect.scss */
.st-effect-1.st-menu-open .st-effect-1.st-menu {
  visibility: visible;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 184, ../sass/sidebar_effect.scss */
.st-effect-1.st-menu::after {
  display: none;
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
/* line 190, ../sass/sidebar_effect.scss */
.no-csstransforms3d .st-pusher,
.no-js .st-pusher {
  padding-left: 300px;
}

/* Effect 2 & 3: Slide in on top */
/* line 196, ../sass/sidebar_effect.scss */
.st-effect-2.st-menu, .st-effect-3.st-menu {
  visibility: visible;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* line 202, ../sass/sidebar_effect.scss */
.st-effect-2.st-menu-open .st-effect-2.st-menu, .st-effect-3.st-menu-open .st-effect-3.st-menu {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 208, ../sass/sidebar_effect.scss */
.st-effect-2.st-menu::after, .st-effect-3.st-menu::after {
  display: none;
}
