/*
 * Forms
 */

.form-group.left,
.input-group.left {
    width: 50%;
    float: left;
    text-align: right;
    margin-right: 5%;
}

.form-group.left-bg,
.input-group.left-bg {
    width: 84%;
    margin : 0;
    text-align: right;
}

.form-group.left.force,
.form-group.left.force-bg
{
    float: left;
    text-align: left !important;
}

.form-group.left.force-bg {
    width: 84%;
    position: relative;
}

.input-group.right{
    width: 45%;
    text-align: left;
    margin: 0 0 0 15px;
}

.input-group.right-bg{
    width: 15%;
    text-align: left;
    margin: 0 0 0 15px;
}

.form-group.right {
    width: 25%;
    display: inline-block;
}


.form-group.left > .input-group > .input-group-addon {
    width: 6%;
}

textarea {
    resize: none;
}
.input-group-addon {
    background-color: #9CCC65;
    border-color: #8BC34A;
    color:#333;
    width: 1% !important;
}
.input-group-addon.required {
    background-color: #EF5350;
    border-color: #F44336;
}

input + .input-group-addon,
textarea + .input-group-addon,
select + .input-group-addon {
    width: 20% !important;
    background-color: #eee;
    border-color: #ccc;
}

div.required-info {
    color: #F44336;
    padding-bottom: 20px;
}


.form-control {
    min-height: 36px !important;
}

.text-left {
    text-align: left !important;
    margin: 0;
}

.select-multiple {
    color: #101010;
    width: 100%;
}

.select2-selection {
    height: 108px !important;
}

.select2-selection__rendered {
    padding: 2px !important;
}

.select2-selection__choice {
    height: 26px;
    font-weight: 600;
    background: #8BC34A !important;
    border: #689F38 solid 1px !important;
    color: #ffffff;
    line-height: 26px !important;
    padding: 0 8px !important;
    margin : 2px !important;
}

.select2-results__option {
    color: #101010;
}

.select2-search.select2-search--inline {
    line-height: 22px;
    color: #101010;
}

.select2-selection__choice__remove {
    color: #ffffff !important;
}

.select2-selection__choice__remove:hover {
    color: #F44336 !important;
}
